#site-bottom-bar.fixed-position
  #site-bottom-bar-frame
    #site-bottom-bar-content
      %a#menu-root{:href=>'##'}Menu
    
      #menu
        = link_to "Novo", new_snippet_path
        %a{:href=>'##'}Meus snippets
